# Hugo default output directory
public/
resources/_gen/
/exampleSite/resources/
/exampleSite/.hugo_build.lock
.hugo_build.lock

node_modules/
build/

## OS Files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX
.DS_Store

# Linux
.directory
